.projects {
  width: 100%;
}

.projects h2 {
  font-family: "Montserrat", sans-serif;
  color: white;
  text-align: left;
  margin-bottom: 40px;
}

.projectsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card1 {
  height: 350px;
  width: 300px;
  background-image: url("https://res.cloudinary.com/dgbf3yxnd/image/upload/v1597842496/capstone/Screen_Shot_2020-08-19_at_9.06.18_AM_a11b6j.png");
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}

.card2 {
  height: 350px;
  width: 300px;
  background-image: url("https://res.cloudinary.com/dgbf3yxnd/image/upload/v1598313501/Screen_Shot_2020-08-24_at_7.57.44_PM_d1oscg.png");
  background-position: center;
  background-position-y: 20px;
  background-size: cover;
  border-radius: 10px;
}
