.projects {
  width: 100%;
}

.projectsList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 70px;
}

.projectContainer a {
  text-align: center;
}

.projectContainer img {
  width: 90%;
}

.textExpand {
  display: none;
}

.text {
  margin: 30px;
}

.text h3 {
  font-family: "Roboto", sans-serif;
}

.text p {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.text a {
  text-align: left;
  text-decoration: none;
  color: black;
}

.text a:hover {
  text-decoration: underline;
}


@media only screen and (min-width: 768px) {

  .projectContainer {
    flex-direction: row;
    width: 100%;
  }
  
  .text {
    display: none;
  }

  .textExpand {
    display: block;
  }

  .textExpand {
    margin: 30px;
  }
  
  .textExpand h3 {
    font-family: "Roboto", sans-serif;
  }

  .textExpand p {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
  }
  
  .textExpand a {
    text-align: left;
    text-decoration: none;
    color: black;
  }
  
  .textExpand a:hover {
    text-decoration: underline;
  }
  
}
