.heading {
  background: rgba(255, 255, 255, 0.75);
  height: 100vh;
}

.intro {
  text-align: center;
}

.intro h3 {
  line-height: 2;
  font-family: "Roboto", sans-serif;
}

.intro span {
  font-family: "Russo One", sans-serif;
  font-size: 22px;
}

.introExpand {
  display: none;
}

.introMobile {
  text-align: left;
  padding-left: 30px;
  padding-top: 150px;
}

.main {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .introMobile {
    display: none;
  }

  .introExpand {
    display: block;
    padding-top: 150px;
  }
}
