.menu {
  display: none;
}

.show {
  display: block;
  width: 100%;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 1px 1px black;
}

.show .icon {
  color: #979dac;
  cursor: pointer;
  font-size: 30px;
  margin: 20px 0 20px 20px;
}

.menuItem {
  display: inline-block;
  color: #979dac;
  font-family: 'Roboto', sans-serif;
  position: relative;
  cursor: pointer;
  margin: 20px 0 20px 20px;
}

.show .icon:hover {
  color: black;
}

.menuItem:hover {
  color: black;
}
