.expandNav {
  display: none;
}

@media only screen and (min-width: 768px) {
  .expandNav h1 {
    color: white;
    font-family: "Catamaran", sans-serif;
  }

  .expandNav {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px 0 15px;
  }

  .links {
    display: flex;
  }

  .links h3 {
    padding: 5px;
    color: white;
    font-family: "Catamaran", sans-serif;
    position: relative;
  }

  .links h3:after {
    position: absolute;
    content: "";
    display: block;
    background-color: #fca311;
    height: 2px;
    width: 100%;
    transform-origin: right bottom;
    transform: scaleX(0);
    transition: transform 0.4s linear;
  }

  .links h3:hover:after,
  .links h3:active:after {
    transform: scaleX(1);
    transform-origin: left bottom;
  }
}
