.about {
  height: 100%;
}

.about img {
  height: 400px;
  margin: 20px;
}

.name {
  font-size: 30px;
}

.infoAbout {
  padding: 20px;
  font-family: "Montserrat", sans-serif;
}

.logosAbout h4 {
  color: black;
  font-size: 20px;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
}

.logosIcons {
  display: flex;
  align-items: center;
}

.iconDiv {
  padding: 15px;
}

.logosIcons .icon {
  font-size: 40px;
  margin-left: 10px;
}

.logosIcons img {
  height: 30px;
  margin: 0;
  margin-left: 20px;
}

.logosIcons p {
  font-size: 12px;
  color: black;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .mainAbout {
    display: flex;
  }
}
