#iconsConnect {
  display: flex;
  justify-content: space-around;
}
#iconsConnect .icon {
  font-size: 50px;
  color: black;
  transition: all 0.5s;
  margin-top: 200px;
  margin-bottom: 50px;
}
#iconsConnect .icon:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 768px) {
  #iconsConnect {
    justify-content: space-around;
  }
}
