.iconsConnect {
  display: flex;
  justify-content: space-around;
}

.iconsConnect .icon {
  font-size: 30px;
  color: #979DAC;
  transition: all .5s;
  margin-top: 50px;
  margin-bottom: 50px;
}

.iconsConnect .icon:hover {
  color: black;
}


@media only screen and (min-width: 768px) {

.iconsConnect {
 justify-content: space-around;
}

}