@import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');



.App {
  background-color: #14213D;
  height: 100%;
  width: 100%;
}



