.collapseNav {
  padding: 10px 15px 0 15px;
}

.collapseNav h1 {
    font-family: 'Russo One', sans-serif;
  }

  .collapseNav h4 {
    font-family: 'Roboto', sans-serif;
  }

@media only screen and (min-width: 768px) {

  .collapseNav {
    display: none;
  }

}
